<div class="sidebar" [class.sidebar--shrink]="!showSidebar" [class.dark-theme]="darkTheme">

    <div class="sidebar__header">
        <svg *ngIf="showSidebar" class="logo" [class.logo--light]="darkTheme">
            <use xlink:href="../../../assets/sprite.svg#icon-truck"></use>
        </svg>
        <a  (click)="showSidebar = !showSidebar" class="sidebar-menu" [class.sidebar-menu--light]="darkTheme">
            <svg class="sidebar-menu__icon" [class.sidebar-menu__icon--light]="darkTheme">
                <use xlink:href="../../../assets/sprite.svg#icon-menu" ></use>
            </svg>
        </a>
    </div>
    <div class="sidebar__body">
        <ul class="sidebar-nav">
            <li *ngFor="let item of sidebarItems" 
                class="sidebar-nav__item"
                routerLinkActive="sidebar-nav__item--active" 
                [routerLinkActiveOptions]="{exact: true}">
                <a class="sidebar-nav__link"
                   [routerLink]="item.url">
                    <svg class="sidebar-nav__icon"
                         [class.sidebar-nav__icon--light]="darkTheme">
                        <use [attr.xlink:href]="item.icono" ></use>
                    </svg>
                    <span [class.sidebar-nav__text--light]="darkTheme" class="sidebar-nav__text"> {{ item.titulo }} </span>
                </a>
            </li>
        </ul>
    </div>

</div>