:host {
    grid-row: 1 / 3;
}

.sidebar {
    height: 100%;
    width: 25rem;

    background-color: orangered;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--light-theme-secondary);

    transition: width 0.2s ease;

    &__header {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 4rem;
            height: 4rem;
            fill: #7b1fa2;
            margin-left: 2rem;
        }

        .logo--light {
            fill: var(--light-theme);
        }

        .sidebar-menu {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;
            width: 4.8rem;
            height: 4.8rem;
            margin-right: 1rem;

            transition: all 0.1s ease;
            cursor: pointer;

            &__icon {
                height: 3rem;
                width: 3rem;
                fill: var(--dark-theme);
            }
            &__icon--light {
                fill: var(--light-theme);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        .sidebar-menu--light {
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    &__body {
        margin-top: 5rem;
        .sidebar-nav {
            &__item {
                
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            &__link:link,
            &__link:visited {
                display: flex;
                align-items: center;

                margin-left: 1rem;

                color: #7b1fa2;
                text-decoration: none;
                text-transform: uppercase;
                padding: 1rem;

                outline: none;
            }

            &__icon {
                width: 3rem;
                height: 3rem;
                fill: #7b1fa2;
            }

            &__icon--light {
                width: 3rem;
                height: 3rem;
                fill: var(--light-theme-secondary);
            }

            &__text {
                font-size: 1.8rem;
                margin-left: 2rem;
            }
            &__text--light {
                color: var(--light-theme-secondary);
            }
            
            &__item--active {
                background-color: #7b1fa2;

                .sidebar-nav__text {
                    color: var(--light-theme-secondary);
                }

                .sidebar-nav__icon {
                    fill: var(--light-theme-secondary);
                }

                
            }
        }
    }
}

.sidebar--shrink {
    width: 6rem;

    .sidebar__header {
        justify-content: center;
    }

    .sidebar-menu {
        margin: 0;
    }

    .sidebar__body {
        .sidebar-nav {
            visibility: hidden;
        }
    }
}

.dark-theme {
    background-color: var(--dark-theme-secondary);
}
